* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #3f3f3d;
}

body {
    background-image: url("../img/slot-machine-background.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slots-container {
    width: 45%;
    height: auto;
    margin: 425px 280px;
}

.slots-img {
    width: 99.5%;
    height: auto;
    margin-top: 1px;
}