body {
    background-color: rgb(61, 61, 61);
}

#slot-machine-background {
    display: block;
    margin: auto;
    width: 82%;
    z-index: 0;
}

.buttons {
    z-index: 1;
    width: 10%;
    height: 10%;
    border-style: solid;
    border-width: 5px;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center center;
    color: white;
}

#paid-btn {
    background-color: rgb(78, 119, 78);
}

#paid-btn:hover {
    color: rgb(24, 24, 24);
}

#random-btn {
    background-color: rgb(77, 77, 77);
}

#random-btn:hover {
    color: rgb(24, 24, 24);
}

#free-btn {
    background-color: rgb(78, 119, 78);
}

#free-btn:hover {
    color: rgb(24, 24, 24);
}