body {
    background-color: rgb(61, 61, 61);
}

#slot-machine-background {
    display: block;
    margin: auto;
    width: 82%;
    z-index: 0;
}

.buttons {
    width: 10%;
    height: 10%;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

#paid-btn {
    background-color: rgb(78, 119, 78);
}

#random-btn {
    background-color: rgb(77, 77, 77);
}

#free-btn {
    background-color: rgb(78, 119, 78);
}

.buttons:hover {
    color: rgb(24, 24, 24);
    transition-duration: 0.1s;
    cursor: pointer;
}

#paid-btn:active {
    background-color: rgb(39, 59, 39);
}

#random-btn:active {
    background-color: rgb(37, 37, 37);
}

#free-btn:active {
    background-color: rgb(39, 59, 39);
}