* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

.background-container img {
    width: 100%;
    height: auto;
}







/*
body {
    background-color: rgb(61, 61, 61);
}

#slot-machine-background {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.button-container {
    position: relative;
    width: 100%;
}

.buttons {
    position: absolute;
    color: white;
    width: 22%;
    height: 10%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

#paid-btn {
    background-color: rgb(78, 119, 78);
    top: 70%;
    left: 11.75%;
    transform: rotate(1deg);
}

#random-btn {
    background-color: rgb(77, 77, 77);
    top: 70.5%;
    left: 39.25%;
    transform: rotate(1deg);
}

#free-btn {
    background-color: rgb(78, 119, 78);
    top: 70.75%;
    left: 67.5%;
    transform: rotate(1deg);
}

.buttons:hover {
    color: rgb(24, 24, 24);
    transition-duration: 0.1s;
    cursor: pointer;
}

#paid-btn:active {
    background-color: rgb(39, 59, 39);
}

#random-btn:active {
    background-color: rgb(37, 37, 37);
}

#free-btn:active {
    background-color: rgb(39, 59, 39);
}

.slots-images {
    position: absolute;
    width: 50%;
    top: 40.09%;
    left: 25.5%;
}
*/